{% extends 'base.html' %}

{% block title %}
    Menadżer sal
{% endblock %}

{% block content %}
    <h3>Witaj w naszej aplikacji do zarządzania salami!</h3>
    <p>Cieszymy się, że jesteś z nami! Nasza aplikacja to idealne rozwiązanie dla wszystkich, którzy chcą łatwo
        zarządzać przestrzenią w obiektach konferencyjnych, biurach czy uczelniach. Dodawanie nowych sal jest szybkie i
        intuicyjne, a aktualizacja danych o pojemności i wyposażeniu odbywa się w kilku kliknięciach.</p>
    <p>Funkcja rezerwacji umożliwia błyskawiczne sprawdzenie dostępności sal w wybranym terminie, co ułatwia
        organizację spotkań i wydarzeń. Możesz także łatwo usuwać sali, aby dostosować ofertę do zmieniających się
        potrzeb.</p>
    <p>Dzięki automatycznym powiadomieniom o nadchodzących rezerwacjach, zawsze będziesz na bieżąco. Zaufaj naszej
        aplikacji i stwórz idealne miejsce do spotkań i wydarzeń!</p>
{% endblock %}