{% extends 'base.html' %}

{% block title %}
    Dodaj nową salę
{%  endblock %}

{% block content %}
     <h3>Dodaj Nową Salę</h3>
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" >Dodaj Salę</button>
    </form>
{% endblock %}