{% extends 'base.html' %}

{% block title %}
    Rezerwacja
{% endblock %}

{% block content %}
    <h3>Zarezerwuj salę: {{ room.name }}</h3>
    <p><strong>Pojemność:</strong> {{ room.capacity }} osób</p>
    <p><strong>Rzutnik:</strong> {{ room.projector|yesno:"Dostępny,Niedostępny" }}</p>

    <h3>Rezerwacja na dziś:</h3>
    <ul>
        {% if reservations_today %}
            {% for reservation in reservations_today %}
                <li>{{ reservation.date }}</li>
                <li>{{ reservation.comment }}</li>
            {% endfor %}
        {% else %}
            <li>Brak.</li>
        {% endif %}
    </ul>

    <h3>Przyszłe rezerwacje:</h3>
    <ul>
        {% if reservations_from_today %}
            {% for reservation in reservations_from_today %}
                <li>{{ reservation.date|date:"d-m-y" }}: {{ reservation.comment }}</li>
            {% endfor %}
        {% else %}
            <li>Brak.</li>
        {% endif %}
    </ul>

    <form method="post">
        {% csrf_token %}

        <div>
            <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
            {{ form.date }}
            {% if form.date.errors %}
                <div class="error">{{ form.date.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
            {{ form.comment }}
            {% if form.comment.errors %}
                <div class="error">{{ form.comment.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">Zarezerwuj</button>
    </form>

    <a href="{% url 'home:room_list' %}">Powrót do listy sal</a>

{% endblock %}